	<table style="background-color: #8B0000;" width="100%" cellspacing="0" border="0" bgcolor="#8B0000">
		<tbody style="background-color: #8B0000;" valign="top">
			<tr>
				<td style="padding-top: 0px; height: 40px; margin-top: 0px; vertical-align: middle; text-align:left; background-color: #8B0000; font-size: 30pt; 
					color: #F0FFF0;" nowrap="" bgcolor="#8B0000">
					<!--<a href="/" style="color: white; text-decoration: none;">
					<img alt="" src="/static//images/Salicicola__40.gif" height="40&quot;" border="0"></a>
					-->
					&nbsp;<!--Preview-->Salicicola
				</td>
				<td style="padding-top: 0px; height: 40px; margin-top: 0px; vertical-align: middle; text-align:right; background-color: #8B0000; font-size: 30pt; 
				color: #F0FFF0;" nowrap="" bgcolor="#8B0000" align="right"><!--
				<img src="/static/images/PlantGallery__40.gif" height="40&quot;" border="0">-->
				<!--Plant Gallery&nbsp;-->
				</td>
			</tr>
		</tbody>
	</table>
	<!--
	<script type="text/javascript">headerWriteText('PlantGallery', true)</script>-->

