				<style type="text/css">
					.olImageLoadError { 
						/* when OL encounters a 404, don't display the pink image */ /* A: how it works ? */
						display: none !important;
					}
					body { 
						margin: 2px;
						background-color:lightgreen;
					}	
					
					#page_header {
						position:absolute;
						top:0;
						left:0;
						width:auto;
						height:20px;
						font-weight:bold;
						font-size:120%;
						padding:3px;
						margin-left:3px;
					}	
					
					#map {
						position:absolute;
						width:700px;
						height:700px;
						top:30px;
						left:5px;
						border-style:solid;
						border-width:1px;
					}
					#map_header {
						position:absolute;
						left:40px;
						top:30px; /* 11 */
						width:auto;
						height:auto;
						border: dotted gray 1px;
						color:darkred;
						font-size:85%; /* 125% */
						padding-left:1ex;
						padding-right:1ex;
						font-weight:bold;
						z-index:1000;
					}	
						
					#map_right {
						position:absolute;
						left: 710px;
						top:30px;
						width:490px;
						height:340px;
						border: dotted gray 1px; 
						color:darkred;
						/* font-size:125%; */
						padding-left:1ex;
						padding-right:1ex;
						/*font-weight:bold;*/
						z-index:1000;				
					}

					#map_footer {
						position:absolute;
						left:710px;
						top:380px;
						width:600px;
						height:auto;
						padding-left:1ex;
						padding-right:1ex;
						color:darkred;
						font-size:90%;
						border: dotted gray 1px;
					}

					#map_form {
						position:absolute;
						width:600px;
						height:auto;
						top:735px;
						left:5px;
						padding:4px;
						color:darkred;
						font-size:90%;
						border: dotted gray 1px;
					}
/* not in use */					
.popup {
    position: absolute;
    padding: 5px;
    font-size: 8pt;
    z-index: 1000;
    background-color: white
}					
										
				</style>

