<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="cache-control" content="no-cache"/>
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT/">
<meta http-equiv="pragma" content="no-cache"/>
<title>Salicicola Plant Gallery: Plants of Tidmarsh Farms/Sanctuary</title>
<style type="text/css">
		h1 {
			margin-bottom:0;	
			margin-top:0px;
		}
		h2 {
			margin-top:0;
		}
		h2.header {
			margin-bottom:0;font-size:27px;
		}
		h2.subheader {
			margin-top:0;margin-bottom:0.5ex;font-weight:normal;font-size:20px; 
		}
		h2.group_header {
			 margin-bottom:0;margin-top:2ex;
		}
		h3 {
			margin-bottom:0;
		}
		div.summary {
			margin-left:2em;max-width:95ex;
		}	
		div.species {
			margin-left:6ex;
			text-indent:-4ex
		}
		i.species {
			font-weight:bold;
		}
		ul {
			margin-top:0;
		}
		img.map {
			float:right;
			width:350px;
			/*height:300px;*/
			border-style:solid;
			border-width:1px;
			margin:1ex;
			padding:0;
		}
		body {
			max-width:1360px;
			background-color:#F0FFF0;
			color: #8B0000;
			padding:1ex;
		}
		a {
			color:#8B0000;
		}
	</style><script type="text/javascript">
		w = null;
		mapserver = '/'; // 'http://172.104.19.75/'; // http://geo.salicicola.com
		function open_tidmarsh_map(pid) {
			if (w) {
				if (! w.closed) {
					w.close();
				} 
			} 
			url = mapserver + 'tidmarsh/map/tidmarsh2/plant/' + pid; 
            url = "/photodb/tidmarsh/map/" + pid + "/";
			w = open(url, 'none', 'width=920,height=810,left=5,top=5'); 
			w.focus();
			return false;
		}
		
		function open_atro_map() {
			if (w) {
				if (! w.closed) {
					w.close();
				} 
			} 
			url = "/checklists/tidmarsh/atrocinereaa_complex_map.html"; 
			w = open(url, 'none', 'width=920,height=810,left=5,top=5'); 
			w.focus();
			return false;
		}
		
		
		function open_preview_map(pid) {
				if (w) {
					if (! w.closed) {
						w.close();
					} 
				} 
				url = mapserver + '/tidmarsh/map/preview/plant/' + pid;
				w = open(url, 'none', 'width=390,height=520,top=200,left=600');  
				w.focus();
				return false;
		}
		function open_image(url) {
			if (w) {
				if (! w.closed) {
					w.close();
				} 
			} 
			w = open(url, 'none', 'width=920,height=810,left=5,top=5'); 
			w.focus();
			return false;
		}
		function open_entryform(url) {
			if (w) {
				if (! w.closed) {
					w.close();
				} 
			} 
			w = open(url, 'none', 'width=600,height=600,left=5,top=5'); 
			w.focus();
			return false;
		}			
	</script>


</head>
<body>
<h2 class="header">Plants of Tidmarsh Farms and Vicinity (Plymouth, Massachusetts)</h2>
<h2 class="subheader"> Intentionally Introducing Native Plants</h2>


<h2 class="group_header">Conifers</h2>
<h3 class="family_header">Cupressaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1426/5365" target="_blank">Chamaecyparis thyoides</a>
</i> 
—
Atlantic white cedar
— photos:
[<a href="/servlet/GetImage?id=20111004ricoh6226s" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20140518samsu1261cs" onclick="return open_image(this.href)" target="_blank">2</a>]
[<a href="/servlet/GetImage?id=20161016olymp6521cs" onclick="return open_image(this.href)" target="_blank">3</a>]
[<a href="/servlet/GetImage?id=20161125olymp7513s" onclick="return open_image(this.href)" target="_blank">4</a>]
— [<a href="/photodb/tidmarsh/map/5365" onclick="return open_tidmarsh_map('5365')">map</a>]
— <span>Planted. Closest found naturally occurring SSW of Tidmarsh, outside bounding box</span>
</div>
<h2 class="group_header">Monocots</h2>
<h3 class="family_header">Cyperaceae</h3>

<div class="species"><i class="species">
<a href="/photodb/gallery/view/1428/13160" target="_blank">Carex stipata</a>
</i> 
—
awl-fruited sedge
— [<a href="/photodb/tidmarsh/map/12656" onclick="return open_tidmarsh_map('13160')">map</a>]
— <span>Planted.</span>
</div>




<div class="species"><i class="species">
<a href="/photodb/gallery/view/1428/12656" target="_blank">Rhynchospora macrostachya</a>
</i> 
—
big-headed horned sedge
— photos:
[<a href="/servlet/GetImage?id=20150906olymp6323cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20150906olymp6422cs" onclick="return open_image(this.href)" target="_blank">2</a>]
[<a href="/servlet/GetImage?id=20150906olymp6396cs" onclick="return open_image(this.href)" target="_blank">3</a>]
[<a href="/servlet/GetImage?id=20150906olymp6390cs" onclick="return open_image(this.href)" target="_blank">4</a>]
[<a href="/servlet/GetImage?id=20161016olymp6526s" onclick="return open_image(this.href)" target="_blank">5</a>]
[<a href="/servlet/GetImage?id=20160918olymp5746cs" onclick="return open_image(this.href)" target="_blank">6</a>]
— [<a href="/photodb/tidmarsh/map/12656" onclick="return open_tidmarsh_map('12656')">map</a>]
— <span>Planted. Occurring south of Tidmarsh, within bounding box</span>
</div>
<h3 class="family_header">Iridaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1457/15208" target="_blank">Iris prismatica</a>
</i> 
—
slender blueflag
— photos:
[<a href="/servlet/GetImage?id=20170924olymp7332a" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20170924olymp7323cs" onclick="return open_image(this.href)" target="_blank">2</a>]
[<a href="/servlet/GetImage?id=20170924olymp7321a" onclick="return open_image(this.href)" target="_blank">3</a>]
— [<a href="/photodb/tidmarsh/map/15208" onclick="return open_tidmarsh_map('15208')">map</a>]
— <span>Watch-Listed. Planted. Provenance: Harwich</span>
</div>
<h3 class="family_header">Liliaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1467/13273" target="_blank">Lilium philadelphicum</a>
</i> 
—
wood lily
— photos:
[<a href="/servlet/GetImage?id=20161125olymp7530cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20161125olymp7526cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/13273" onclick="return open_tidmarsh_map('13273')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1467/10036" target="_blank">Smilacina stellata</a>
</i> 
—
starry Solomon's seal
— photos:
[<a href="/servlet/GetImage?id=20170423olymp0704cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/10036" onclick="return open_tidmarsh_map('10036')">map</a>]
— <span>Planted</span>
</div>
<h3 class="family_header">Poaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1503/10059" target="_blank">Hystrix patula</a>
</i> 
—
bottlebrush grass
— photos:
[<a href="/servlet/GetImage?id=20161125olymp7510cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20170820olymp4684cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/10059" onclick="return open_tidmarsh_map('10059')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1503/12494" target="_blank">Piptochaetium avenaceum</a>
</i> 
—
black oatgrass
— photos:
[<a href="/servlet/GetImage?id=20160529olymp1839s" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/12494" onclick="return open_tidmarsh_map('12494')">map</a>]
— <span>Watch-Listed; planted in garden</span>
</div>

<div class="species"><i class="species">
<a href="/photodb/gallery/view/1503/15366" target="_blank">Zizania aquatica</a>
</i> 
—
wild rice
— photos:
													
																	[<a onclick="return open_image(this.href)" target="_blank" href="http://salicicola.com/servlet/GetImage?id=20150830olymp6167cs">1</a>]
																
																	[<a onclick="return open_image(this.href)" target="_blank" href="http://salicicola.com/servlet/GetImage?id=20150830olymp6166s">2</a>]
																
		— [<a href="/photodb/tidmarsh/map/all/15367" onclick="return open_tidmarsh_map('15367')">map</a>]
	
— <span> Failed </span>
</div>

<h2 class="group_header">Dicots</h2>

<h3 class="family_header">Asclepiadaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1392/7022" target="_blank">Asclepias amplexicaulis</a>
</i> 
—
clasping milkweed
— photos:
[<a href="/servlet/GetImage?id=20170608olymp2349s" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/7022" onclick="return open_tidmarsh_map('7022')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1392/7025" target="_blank">Asclepias tuberosa</a>
</i> 
—
butterfly milkweed
— photos:
[<a href="/servlet/GetImage?id=20150627samsu2877cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20150627samsu2876cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/7025" onclick="return open_tidmarsh_map('7025')">map</a>]
— <span>Planted; previously introduced to &quot;Mars&quot; in a seed mix</span>
</div>
<h3 class="family_header">Asteraceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1394/7034" target="_blank">Aster umbellatus</a>
</i> 
—
tall flat-topped white aster
— [<a href="/photodb/tidmarsh/map/7034" onclick="return open_tidmarsh_map('7034')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1394/12172" target="_blank">Aster undulatus</a>
</i> 
—
clasping hartleaf aster
— [<a href="/photodb/tidmarsh/map/12172" onclick="return open_tidmarsh_map('12172')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1394/13129" target="_blank">Bidens connata</a>
</i> 
—
swamp beggar-ticks
— photos:
[<a href="/servlet/GetImage?id=20160529olymp1832s" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/13129" onclick="return open_tidmarsh_map('13129')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1394/10116" target="_blank">Liatris novae-angliae</a>
</i> 
—
New England blazing star
— [<a href="/photodb/tidmarsh/map/10116" onclick="return open_tidmarsh_map('10116')">map</a>]
— <span>Special Concern, planted with NHESP permit</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1394/14806" target="_blank">Vernonia noveboracensis</a>
</i> 
—
New York ironweed
— photos:
[<a href="/servlet/GetImage?id=20160918olymp5747cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/14806" onclick="return open_tidmarsh_map('14806')">map</a>]
— <span>Planted</span>
</div>

<h3 class="family_header">Cornaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1423/7061" target="_blank">Cornus racemosa</a>
</i> 
—
gray dogwood
— photos:
[<a href="/servlet/GetImage?id=20140921olymp6833cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/7061" onclick="return open_tidmarsh_map('7061')">map</a>]
— <span>Planted </span>
</div>

<h3 class="family_header">Ericaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1440/13861" target="_blank">Gaylussacia dumosa var. bigelowiana</a>
</i> 
—
bog huckleberry
— photos:
[<a href="/servlet/GetImage?id=20150601olymp1925cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20150601olymp1924cs" onclick="return open_image(this.href)" target="_blank">2</a>]
[<a href="/servlet/GetImage?id=20150531samsu1911s" onclick="return open_image(this.href)" target="_blank">3</a>]
[<a href="/servlet/GetImage?id=20150531samsu1910cs" onclick="return open_image(this.href)" target="_blank">4</a>]
[<a href="/servlet/GetImage?id=20160503olymp0740cs" onclick="return open_image(this.href)" target="_blank">5</a>]
[<a href="/servlet/GetImage?id=20160503olymp0739cs" onclick="return open_image(this.href)" target="_blank">6</a>]
[<a href="/servlet/GetImage?id=20160503olymp0738sc" onclick="return open_image(this.href)" target="_blank">7</a>]
[<a href="/servlet/GetImage?id=20160503olymp0738cs" onclick="return open_image(this.href)" target="_blank">8</a>]
[<a href="/servlet/GetImage?id=20160503olymp0736cs" onclick="return open_image(this.href)" target="_blank">9</a>]
[<a href="/servlet/GetImage?id=20160501olymp0695cs" onclick="return open_image(this.href)" target="_blank">10</a>]
[<a href="/servlet/GetImage?id=20170521olymp1665s" onclick="return open_image(this.href)" target="_blank">11</a>]
— [<a href="/photodb/tidmarsh/map/13861" onclick="return open_tidmarsh_map('13861')">map</a>]
— <span>Naturally occurring outside Tidmarsh Farms territory, but within bounding box, propagated from there, to be planted</span>
</div>

<div class="species"><i class="species">
<a href="/photodb/gallery/view/1440/12458" target="_blank">Rhododendron canadense</a>
</i> 
—
rhodora
— photos:
[<a href="/servlet/GetImage?id=20150711samsu3621cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20150711samsu3618cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/12458" onclick="return open_tidmarsh_map('12458')">map</a>]
— <span>Planted </span>
</div>

<h3 class="family_header">Fabaceae</h3>

<div class="species"><i class="species">
<a href="/photodb/gallery/view/1443/13271" target="_blank">Lespedeza virginica</a>
</i> 
—
slender bush-clover
— [<a href="/photodb/tidmarsh/map/13271" onclick="return open_tidmarsh_map('13271')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1443/11636" target="_blank">Tephrosia virginiana</a>
</i> 
—
goat's rue
— photos:
[<a href="/servlet/GetImage?id=20110429olymp0830cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/11636" onclick="return open_tidmarsh_map('11636')">map</a>]
— <span>Planted</span>
</div>

<h3 class="family_header">Fagaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1444/2665" target="_blank">Quercus montana</a>
</i> 
—
chestnut oak
— photos:
[<a href="/servlet/GetImage?id=20171001olymp7666cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/2665" onclick="return open_tidmarsh_map('2665')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1444/2664" target="_blank">Quercus prinoides</a>
</i> 
—
dwarf chestnut oak
— [<a href="/photodb/tidmarsh/map/2664" onclick="return open_tidmarsh_map('2664')">map</a>]
— <span>Planted</span>
</div>


<h3 class="family_header">Lamiaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1462/13966" target="_blank">Pycnanthemum muticum</a>
</i> 
—
short-toothed mountain mint
— photos:
[<a href="/servlet/GetImage?id=20171001olymp7662s" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20171001olymp7661s" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/13966" onclick="return open_tidmarsh_map('13966')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1462/13795" target="_blank">Pycnanthemum tenuifolium</a>
</i> 
—
slender-leaved mountain mint
— photos:
[<a href="/servlet/GetImage?id=20171001olymp7680cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/13795" onclick="return open_tidmarsh_map('13795')">map</a>]
— <span>Planted</span>
</div>


<h3 class="family_header">Malvaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1475/2913" target="_blank">Hibiscus moscheutos</a>
</i> 
—
swamp mallow
— photos:
[<a href="/servlet/GetImage?id=20140727samsu3909cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20140920samsu6729cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/2913" onclick="return open_tidmarsh_map('2913')">map</a>]
— <span>Planted</span>
</div>


<h3 class="family_header">Onagraceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1490/15152" target="_blank">Ludwigia alternifolia</a>
</i> 
—
seedbox, squarepod
— [<a href="/photodb/tidmarsh/map/15152" onclick="return open_tidmarsh_map('15152')">map</a>]
— <span>Planted</span>
</div>

<h3 class="family_header">Ranunculaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1515/13169" target="_blank">Clematis virginiana</a>
</i> 
—
virgin's-bower
— [<a href="/photodb/tidmarsh/map/13169" onclick="return open_tidmarsh_map('13169')">map</a>]
— <span>Planted</span>
</div>

<h3 class="family_header">Rhamnaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1517/3571" target="_blank">Ceanothus americanus</a>
</i> 
—
New Jersey tea
— photos:
[<a href="/servlet/GetImage?id=20161030olymp7001cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/3571" onclick="return open_tidmarsh_map('3571')">map</a>]
— <span>Planted</span>
</div>


<h3 class="family_header">Salicaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1/11341" target="_blank">Salix bebbiana</a>
</i> 
—
Bebb's willow
— photos:
[<a href="/servlet/GetImage?id=20161016olymp6575s" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20161016olymp6573cs" onclick="return open_image(this.href)" target="_blank">2</a>]
[<a href="/servlet/GetImage?id=20161016olymp6572cs" onclick="return open_image(this.href)" target="_blank">3</a>]
[<a href="/servlet/GetImage?id=20161030olymp7012cs" onclick="return open_image(this.href)" target="_blank">4</a>]
— [<a href="/photodb/tidmarsh/map/11341" onclick="return open_tidmarsh_map('11341')">map</a>]
— <span>Planted, possibly a hybrid</span>
</div>


<div class="species"><i class="species">
<a href="/photodb/gallery/view/1/11632" target="_blank">Salix occidentalis</a>
</i> 
—
dwarf upland willow
— photos:
[<a href="/servlet/GetImage?id=20150726samsu4341s" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20161030olymp7010cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/11632" onclick="return open_tidmarsh_map('11632')">map</a>]
— <span>Planted</span>
</div>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1/11889" target="_blank">Salix pedicellaris</a>
</i> 
—
bog willow
— photos:
[<a href="/servlet/GetImage?id=20161030olymp7011cs" onclick="return open_image(this.href)" target="_blank">1</a>]
— [<a href="/photodb/tidmarsh/map/11889" onclick="return open_tidmarsh_map('11889')">map</a>]
— <span>Watch-Listed. Planted</span>
</div>

<h3 class="family_header">Scrophulariaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1530/11990" target="_blank">Chelone glabra</a>
</i> 
—
white turtlehead
— photos:
[<a href="/servlet/GetImage?id=20160918olymp5752cs" onclick="return open_image(this.href)" target="_blank">1</a>]
[<a href="/servlet/GetImage?id=20160918olymp5751cs" onclick="return open_image(this.href)" target="_blank">2</a>]
— [<a href="/photodb/tidmarsh/map/11990" onclick="return open_tidmarsh_map('11990')">map</a>]
— <span>Planted</span>
</div>

<h3 class="family_header">Ulmaceae</h3>
<div class="species"><i class="species">
<a href="/photodb/gallery/view/1545/2616" target="_blank">Celtis occidentalis</a>
</i> 
—
common hackberry
— [<a href="/photodb/tidmarsh/map/2616" onclick="return open_tidmarsh_map('2616')">map</a>]
— <span>Planted</span>
</div>
<hr align="left" width="33%"/>
</body>
</html>
